<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}django-ninja: demo{% endblock %}</title>
    <style>
      html {
        max-width: 70ch;
        padding: 3em 1em;
        margin: auto;
        line-height: 1.75;
        font-size: 1.25em;
        font-family: sans-serif;
        color: darkslategray;
        background-color: whitesmoke;
      }
      //
      h1,h2,h3,h4,h5,h6 {
        margin: 3em 0 1em;
      }
      //
      p,ul,ol {
        margin-bottom: 2em;
        color: #1d1d1d;
        font-family: sans-serif;
      }
    </style>
</head>
<body>
    <header>
        <h1>django-ninja demo</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- Content specific to each page will go here -->
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; Built in 2024 with love.</p>
    </footer>
</body>
</html>

